Repository ecadlabs/taqueria, pull requests merged in 2022-05, with the labels that each got.

#681 New NFT minting page
  package-lock.json
  website/docs/nft_minting.mdx
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/redirects.txt
  website/src/components/Features/Features.js
  website/src/components/NftMinting/NftMinting.js
  website/src/components/NftMinting/embed.js
  website/src/components/NftMinting/nft-minting.css
  website/static/img/form-48.png
  website/static/img/loading-circle.gif
  website/static/img/picture-48.png
  website/static/img/tezTalksBanner.png
  website/webpack-plugin.js
Labels: website

#680 added step to matrix on test chunking
  .github/workflows/main.yml
  package-lock.json
  tests/e2e/taqueria-plugin-archetype.spec.ts
  tests/e2e/taqueria-plugin-contract-types.spec.ts
  tests/e2e/taqueria-plugin-flextesa.spec.ts
  tests/e2e/taqueria-plugin-ligo.spec.ts
  tests/e2e/taqueria-plugin-taquito.spec.ts
  tests/e2e/utils/utils.ts
  tests/package.json
Labels: testing

#692 Website updates
  taqueria-config.ts
  taqueria-plugin-contract-types/Readme.md
  taqueria-plugin-flextesa/README.md
  website/docs/getting-started/networks.mdx
  website/docs/getting-started/quickstart.md
  website/docs/intro.md
  website/docs/plugins/plugin-flextesa.md
  website/docs/plugins/plugin-typescript-generator.md
  website/docs/taqueria-dev/contributions.md
  website/docusaurus.config.js
Labels: bug, ligo-plugin, cli-core

#734 Added dependency injection to vscode extension
  taqueria-vscode-extension/src/extension.ts
  taqueria-vscode-extension/src/lib/helpers.ts
  taqueria-vscode-extension/src/test/suite/MockedObject.ts
  taqueria-vscode-extension/src/test/suite/extension.test.ts
  temp-project/quickstart.md
  test-flextesa/quickstart.md
  test-refactor/quickstart.md
  validation-test/quickstart.md
Labels: vscode, refactor

#695 As a Taqueria dev, I want my code to be automatically formatted so that the codebase is more consistent and adheres to the project style guide at all times
  .husky/pre-commit
  dprint.json
  package-lock.json
  package.json
  taqueria-flextesa-manager/lib.ts
Labels: refactor
