Repository ecadlabs/taqueria, pull requests merged in 2022-03, with the labels that each got.

#402 Fixes #264, adds commit hash to build and version output
  .github/workflows/main.yml
  bin/build.sh
  cli.ts
  i18n.ts
  package-lock.json
  taqueria-types.ts
  tests/e2e/data/help-contents.ts
  tests/e2e/taqueria-cli-commands.spec.ts
Labels: feature

#407 Fixes #406, removes quickstart from plugin arguments
  cli.ts
  taqueria-types.ts
  tests/e2e/taqueria-cli-init.spec.ts
  tests/unit/cli.test.ts
Labels: feature

#424 Fix GA tagging issues
  website/docusaurus.config.js
  website/package.json
Labels: website, Effort: S

#396 Add taqueria team as codeowners for readme.md file
  .github/CODEOWNERS
Labels: documentation

#490 Install Docusaurus-Terminology and Migrate Website to Use Yarn
  website/docs/terms/taquito.mdx
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/yarn.lock
Labels: documentation, website, CI/CD

#499 Update README.md for Website With New Build Steps
  website/README.md
Labels: documentation, website

#465 Fixes #257, protocol refactor for improved stdout/stderr handling
  .github/workflows/docker-publish.yml
  .github/workflows/main.yml
  .gitignore
  bin/build-all.sh
  cli.ts
  i18n.ts
  npm.ts
  package-lock.json
  package.json
  plugins.ts
  taqueria-flextesa-manager/.npmignore
  taqueria-flextesa-manager/Dockerfile
  taqueria-flextesa-manager/README.md
  taqueria-flextesa-manager/index.ts
  taqueria-flextesa-manager/package.json
  taqueria-plugin-contract-types/package.json
  taqueria-plugin-contract-types/tasks.ts
  taqueria-plugin-flextesa/.npmignore
  taqueria-plugin-flextesa/docker/README.md
  taqueria-plugin-flextesa/docker/package-lock.json
  taqueria-plugin-flextesa/index.ts
  taqueria-plugin-flextesa/package.json
  taqueria-plugin-flextesa/proxy.ts
  taqueria-plugin-ligo/compile.js
  taqueria-plugin-ligo/index.js
  taqueria-plugin-ligo/package.json
  taqueria-plugin-mock/index.js
  taqueria-plugin-mock/package.json
  taqueria-plugin-smartpy/.dockerignore
  taqueria-plugin-smartpy/Dockerfile
  taqueria-plugin-smartpy/compile.ts
  taqueria-plugin-smartpy/index.ts
  taqueria-plugin-smartpy/package.json
  taqueria-plugin-taquito/index.ts
  taqueria-plugin-taquito/originate.ts
  taqueria-plugin-taquito/package.json
  taqueria-protocol/taqueria-protocol-types.ts
  taqueria-sdk/index.ts
  taqueria-sdk/package.json
  taqueria-sdk/types.ts
  taqueria-types.ts
  taqueria-utils/taqueria-utils-types.ts
  taqueria-utils/taqueria-utils.ts
  tests/e2e/data/help-contents.ts
  tests/e2e/data/invalid-contract.mligo
  tests/e2e/data/ligo-contents.ts
  tests/e2e/data/smartpy-contents.ts
  tests/e2e/data/taquito-contents.ts
  tests/e2e/taqueria-cli-commands.spec.ts
  tests/e2e/taqueria-plugin-flextesa.spec.ts
  tests/e2e/taqueria-plugin-ligo.spec.ts
  tests/e2e/taqueria-plugin-smartpy.spec.ts
  tests/e2e/taqueria-plugin-taquito.spec.ts
  tests/integration/plugin-mock.spec.ts
  tests/package-lock.json
  tests/package.json
  tests/unit/cli.test.ts
  tests/unit/helpers.ts
  tests/unit/plugins.test.ts
  tests/unit/taqueria-utils/taqueria-utils.test.ts
Labels: bug, flextesa-plugin, ligo-plugin

#434 Fixes #408, adds @taqueria/flextesa-manager workspace and NPM package
  package-lock.json
Labels: bug, flextesa-plugin

#435 Fixes 251 use corresponding flextesa image
  .github/workflows/docker-publish.yml
  .github/workflows/main.yml
  package-lock.json
  taqueria-plugin-flextesa/proxy.ts
  taqueria-sdk/types.ts
Labels: flextesa-plugin
